/*
    Author: derrick.southworth
 */

.header {
    -fx-background-color: #1D4D4F;
    -fx-text-fill: #E5DFDF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #E5DFDF;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-background-color: #6BA8A9;
}

.button:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 5, 0.0, 0, 1);
    -fx-background-color: #6BA8A9;
}

.nav {
    -fx-background-color: #1D4D4F;
    -fx-text-fill: #E5DFDF;
}

.default-pane {
    -fx-background-color: #E5DFDF;
}

.text-field {
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -2 1 -2;
}

.table-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0.0, 0, 1);
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #357376;
    -fx-border-color: #E5DFDF;
}

.table-view .column-header .label {
    -fx-text-fill: #E5DFDF;
}

.combo-box-base {
    -fx-background-color: lightgrey, lightgray, lightgray, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -2 1 -2;
    -fx-border-color: lightgray;
    -fx-border-radius: 3px;
    -fx-padding: 0;
}

.myDialog:header *.header-panel {
    -fx-background-color: #6BA8A9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

.myDialog:header *.header-panel *.label {
    -fx-text-fill: #E5DFDF;
}